art==6.5
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
idna==3.18
linkify-it-py==2.1.0
markdown-it-py==4.2.0
mdit-py-plugins==0.6.1
mdurl==0.1.2
platformdirs==4.10.0
Pygments==2.20.0
requests==2.34.2
rich==15.0.0
textual==8.2.7
typing_extensions==4.15.0
uc-micro-py==2.0.0
urllib3==2.7.0
